canvas{
  border: 1px solid black;
}

#square {
  position: absolute;
  top: 110px;
  left: 1020px;
}

#triangle {
  position: absolute;
  top: 145px;
  left: 1020px;
}

#pentagon {
  position: absolute;
  top: 183px;
  left: 1020px;
}

#hexagon {
  position: absolute;
  top: 217px;
  left: 1018px;
}

#circle {
  position: absolute;
  top: 255px;
  left: 1018px;
}

#plus {
  position: absolute;
  top: 295px;
  left: 1018px
}

#arrow {
  position: absolute;
  top: 330px;
  left: 1018px;
}

#star {
  position: absolute;
  top: 360px;
  left: 1018px;
}

#tShape {
  position: absolute;
  top: 405px;
  left: 1018px;
}

#bar {
  position: absolute;
  top: 445px;
  left: 1028px;
}
#box {
  color: blue;
  position: absolute;
  top: 520px;
  left: 1023px;
}

#none {
  position: absolute;
  top: 35px;
  left: 1020px;
  color: blue;
}

#delete {
  position: absolute;
  top: 535px;
  left: 1020px;
  color: blue;
}

#concave {
  position: absolute;
  top: 460px;
  left: 1023px;
  color: blue;
}
