table {
  width: 50%;
  height: 200px;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 5px;
  text-align: left;
}
table tr:nth-child(even) {
  background-color: #eee;
}
table tr:nth-child(odd) {
  background-color: #fff;
}
table th {
  background-color: black;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4caf50;
}

#log {
  float: right;
}

.auth {
  color: white;
  position: absolute;
  right: 200px;
  top: 20px;
}

canvas {
  position: absolute;
  top: 70px;
  left: 60px;
  border: 1px solid black;
}
.buttons {
  position: absolute;
  top: 60px;
  left: 0px;
}

#play {
  position: absolute;
  top: 20px;
  left: 20px;
}
#square {
  position: absolute;
  top: 95px;
  left: 20px;
}

#triangle {
  position: absolute;
  top: 130px;
  left: 20px;
}

#pentagon {
  position: absolute;
  top: 168px;
  left: 20px;
}

#hexagon {
  position: absolute;
  top: 202px;
  left: 18px;
}

#circle {
  position: absolute;
  top: 240px;
  left: 18px;
}

#plus {
  position: absolute;
  top: 280px;
  left: 18px;
}

#arrow {
  position: absolute;
  top: 315px;
  left: 18px;
}

#star {
  position: absolute;
  top: 345px;
  left: 18px;
}

#tShape {
  position: absolute;
  top: 390px;
  left: 18px;
}

#bar {
  position: absolute;
  top: 430px;
  left: 28px;
}
#box {
  color: blue;
  position: absolute;
  top: 505px;
  left: 23px;
}

#none {
  position: absolute;
  font-size: 15px;
  top: 50px;
  left: 20px;
  color: blue;
}

#_delete {
  position: absolute;
  font-size: 15px;
  top: 533px;
  left: 20px;
  color: blue;
}

#step {
  position: absolute;
  font-size: 15px;
  top: 560px;
  left: 20px;
  color: blue;
}

#concave {
  position: absolute;
  top: 445px;
  left: 23px;
  color: blue;
}

.selected {
  border: 2px solid black;
}

#save {
  position: absolute;
  font-size: 15px;
  top: 585px;
  left: 20px;
  color: blue;
}

#update {
  position: absolute;
  font-size: 15px;
  top: 613px;
  left: 20px;
  color: blue;
}
